{% extends "base.html" %} {% block title %}UNBIND{% endblock %} {% block body %} {% load staticfiles %}

<section class="bg-primary-dark has-divider after-nav text-light">
    <div class="container pt-6 pb-2">
        <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-9 col-md-10">
                <h1 class="display-3 mb-5">Artigos</h1>
                <p class="lead">Leia artigos que te faça bem.</p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img class="svg" src="{% static 'icons/divider.svg' %}" ></img>
    </div>
</section>

<div class="container pt-5">
    <!-- <h1>Click the filter icon <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1> -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-right">
                        <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
                    </div>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filtrar Artigos" />
                </div>
                <table class="table table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">#</th>
                            <th style="text-align: center;">Título</th>
                            <th style="text-align: center;">Autor</th>
                            <th style="text-align: center;">Curtidas</th>
                            <th style="text-align: center;">Data de Publicação</th>
                            {% if not nome_categoria %}
                            <th style="text-align: center;">Categoria</th>
                            {% endif %}
                            <th style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for artigo in artigos %}
                        <tr>
                            <td style="text-align: center;">{{ artigo.id }}</td>
                            <td style="text-align: center;">{{ artigo.titulo }}</td>
                            <td style="text-align: center;">{{ artigo.autor }}</td>
                            <td style="text-align: center;">{{ artigo.curtidas }}</td>
                            <td style="text-align: center;">{{ artigo.dataPublicacao }}</td>
                            {% if not nome_categoria %}
                            <td style="text-align: center;">{{ artigo.categoria.nome }}</td>
                            {% endif %}
                            <td style="text-align: center;"><a href="{% url 'artigo:visualizar_artigo' artigo.id %}" class="btn btn-primary m-l-20 hidden-xs hidden-sm waves-effect waves-light">Ler</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %} 