{% extends "base.html" %}
{% block title %}UNBIND{% endblock %}
{% block body %}
{% load staticfiles %}

<div class="container ">
    <h1>Click the filter icon <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1>
    	<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{% if nome_categoria %}
						<h1 style="text-align:center; color: #6595bf;" class="panel-title">Artigos dacategoria "{{nome_categoria}}"</h1>
						{% else %}
						<h1 style="text-align:center; color: #6595bf;" class="panel-title">Lista de Artigos</h1>
						{% endif %}
<!--						<h3 class="panel-title">Artigos da categoria "{{nome_categoria}}"</h3>-->
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filtrar Artigos" />
					</div>
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								<th style="text-align: center;">#</th>
								<th style="text-align: center;">Título</th>
                                <th style="text-align: center;">Autor</th>
                                <th style="text-align: center;">Curtidas</th>
                                <th style="text-align: center;">Data de Publicação</th>
								{% if not nome_categoria %}
								<th style="text-align: center;">Categoria</th>
								{% endif %}
                                <th style="text-align: center;">Ações</th>
							</tr>
						</thead>
						<tbody>
                        {% for artigo in artigos %}
							<tr>
								<td style="text-align: center;">{{ artigo.id }}</td>
								<td style="text-align: center;">{{ artigo.titulo }}</td>
                                <td style="text-align: center;">{{ artigo.autor }}</td>
                                <td style="text-align: center;">{{ artigo.curtidas }}</td>
                                <td style="text-align: center;">{{ artigo.dataPublicacao }}</td>
								{% if not nome_categoria %}
								<td style="text-align: center;">{{ artigo.categoria.nome }}</td>
								{% endif %}
                                <td style="text-align: center;"><a href="{% url 'artigo:visualizar_artigo' artigo.id %}" class="btn btn-primary m-l-20 hidden-xs hidden-sm waves-effect waves-light">Ler</a></td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/table_filter.js' %}"></script>
{% endblock %}