{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}UNBIND{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icon/icon.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/filters.js' %}"></script>
    <script src="{% static 'js/inline-svg.js' %}"></script>
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-md fixed-top text-uppercase">
        <a class="navbar-brand unbind-brand text-light col-2" href="{% url 'index' %}">UNBIND</a> {% if request.user and not request.user.is_authenticated %}
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Entrar</a>
                </li>
                <a class="btn btn-outline-white ml-lg-3" href="{% url 'register' %}">Crie sua conta</a>
            </ul>
        </div>
        {% else %}
        <div class="mx-auto">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'atividade:atividades' %}">Atividades</a>
                    <!-- # TODO: Dynamic href-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artigo:listar_artigos' %}">Artigos</a>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <ul class="navbar-nav mr-auto justify-content-end">
                <li class="nav-item">
                    <div class="btn-group">
                        <a href class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ usuario }}</a>
                        <div class="dropdown-menu dropdown-menu-right text-capitalize">
                            {% if user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Painel do Admin</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'profile' %}">Ver perfil</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
    {% endblock %} {% block body %}{% endblock %}

    <!--<div>Icons made by
        <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
    -->

</body>

</html>