{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}UNBIND{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-md fixed-top text-uppercase">
        <a class="navbar-brand unbind-brand text-light" href="{% url 'index' %}">UNBIND</a> 
        {% if request.user and not request.user.is_authenticated %}
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Entrar</a>
                </li>
                <a class="btn btn-outline-white ml-lg-3" href="{% url 'register' %}">Crie sua conta</a>
            </ul>
        </div>
        {% else %} 
        {% if user.is_superuser %}
        <div class="justify-content-between">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Painel do Admin</a>
                </li>
            </ul>
        </div>
        {% endif %}
        <div class="justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
    {% endblock %}

    {% block body %}{% endblock %}
</body>

</html>