{% extends "base.html" %} {% block title %}Questionário | UNBIND{% endblock %} {% block body %} {% load staticfiles %}
<div class="min-vh-100">
    <section class="bg-primary-dark has-divider after-nav text-light">
        <div class="container pt-6 pb-2">
            <div class="row justify-content-center text-center">
                <div class="col-xl-8 col-lg-9 col-md-10">
                    <h1 class="display-3 mb-3 text-light">Questionários</h1>
                    <p class="lead">Veja a lista de questionários respondidos.</p>
                </div>
            </div>
        </div>
        <div class="divider">
            <img class="svg" src="{% static 'icons/divider.svg' %}"></img>
        </div>
    </section>
    <section class="pt-5 container text-center">
            <table class="table table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Título</th>
                            <th style="text-align: center;">Data de Publicação</th>
                            <th style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for questionario in questionarios %}
                        <tr>
                            <td style="text-align: center;">{{ questionario.nome }}</td>
                            <td style="text-align: center;">{{ questionario.data_resposta }}</td>
                            <td style="text-align: center;">
                                <a href="{% url 'questionario:questionario' questionario.id %}" class="btn btn-secondary m-l-20">Ver</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </section>
</div>
<footer class="py-4 bg-secondary ">
    <div class="container ">
        <div class="row mb-2 justify-content-center ">
            <div class="col-auto ">
                <a class="footer-brand unbind-brand text-light " href="{% url 'index' %}">UNBIND</a>
            </div>
        </div>
        <div class="row justify-content-center text-center ">
            <div class="col-xl-10 ">
                <small class="text-light ">2019 - Grupo UNBIND. Site desenvolvido para a matéria de Arquitetura e Desenho de Software.</small>
            </div>
        </div>
    </div>
</footer>
{% endblock %}