{% extends "base.html" %}
{% block title %}Quesionário{% endblock %}
{% block body %}

<div class="jumbotron">

<h1>Obrigado por se cadastrar</h1>
<form method="POST">
{% with total=perguntas.count %}
{% for item in perguntas %}{% csrf_token %}





{{ item.enunciado }}<br>
{% for q in questionario_form%}
{% if forloop.revcounter == forloop.parentloop.revcounter %}
{{q}}<br>
{% endif %}
{% endfor %}
{% endfor %}
{% endwith %}
<button class="btn btn-primary btn-block" href="index">Submit</button>
</form>
</div>
{% endblock %}
