{% extends "base.html" %}
{% block title %}Cadastro | UNBIND{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
<section class="min-vh-100 py-5">
    <div class="container">
        <div class="row justify-content-center login-brand">
            <a class="unbind-brand" href="{% url 'index' %}">UNBIND</a>
        </div>
        <div class="row justify-content-center login-container">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="text-center mb-4">
                    <h1 class="mb-1">Configuração de usuário</h1>
                    <span>Insira suas informações abaixo</span>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{update_form.as_p }}

                    <!--este as_p é pra fazer a quebra dos espaços de cada campo do formulário, se n colocarmos isso fica td um na frente do outro-->
                    <!--este crsf é pra garantir segurança, se nao colocar o form n funciona-->
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" href="index" %}">Salvar</button>
                    </div>

                </form>

                {% if usuario %}
                  <a href="{% url 'change_password' %}">mudar senha</a>
                {% endif %}

                {% if usuario %}
                  <a href="{% url 'delete_user' %}">Deletar Conta</a>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}
